<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ລືມລະຫັດຜ່ານ</title>
    <style>
        @font-face {
            font-family: 'Phetsarath OT';
            src: url('https://fonts.googleapis.com/css2?family=Phetsarath+OT&display=swap');
        }

      body {
        font-family: 'Phetsarath OT', Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333;
        padding: 0;
        margin: 0;
      }

      h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 16px;
      }

      p {
        margin: 0 0 16px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 24px;
        border: 1px solid #ddd;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>ລືມລະຫັດຜ່ານ</h1>
      <p>ສະບາຍດີ {{username}},</p>
      <p>ທ່ານໄດ້ຮ້ອງຂໍໃຫ້ຣີເຊັດລະຫັດຜ່ານຂອງທ່ານ. ກະລຸນາຄລິກທີ່ລິ້ງດ້ານລຸ່ມເພື່ອຣີເຊັດລະຫັດຜ່ານຂອງທ່ານ:</p>
      <p><a href="{{resetLink}}">ຣີເຊັດລະຫັດຜ່ານ</a></p>
      <p>ຖ້າທ່ານບໍ່ໄດ້ຮ້ອງຂໍການຕັ້ງລະຫັດຜ່ານນີ້ຄືນໃໝ່, ກະລຸນາລະເລີຍອີເມວນີ້ ແລະລະຫັດຜ່ານຂອງທ່ານຈະບໍ່ຖືກປ່ຽນແປງ.</p>
      <p>ຂອບ​ໃຈ,</p>
    </div>
  </body>
</html>
